h2 {
  display: inline;
  color: #eaded0;
  font-size: 22px;
}

h3 {
  display: inline;
  color: #eaded0;
  font-size: 14px;
}

p {
  font-size: 9px;
  color: #eaded0;
  text-align: right;
  margin: 0px;
}

h1 {
  text-align: center;
  color: #eaded0;
  font-size: 55px;
}

hr {
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: #6699cc;
  margin-bottom: 0px;
  margin-top: 30px;
}

ul {
  font-size: 0px;
}

li {
  font-size: 14px;
  margin-left: 10px;
  padding: 0px;
}


body {
  font-family: "Fira Mono", monospace;
  background-color: #0b121c;
  color: #ccccff;
  text-align: left;
  padding: 0px 0px 5px 2px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  display: block;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: normal;
}

span.bang {
  color: #9966cc;
}

span.quest {
  color: #33cc66;
}

span {
  display: inline;
}

span.keyword {
  color: #9966cc;
}

span.type {
  color: #6699cc;
}

span.call {
  color: #cccc00;
}

span.string {
  color: #33cc66;
}

span.number {
  color: #ffb09f;
}

span.dotAccess {
  color: #cc6600;
}

a {
  color: #6699cc;
  text-decoration: none;
}
